      body, #formModal { font-family: "Montserrat", Arial, Helvetica, sans-serif; color:#6E6E6E;  }
        a { color: #006A94; text-decoration: underline; text-underline-offset: 0.25rem; }
        a:hover { color:#0a58ca; }

        header { height:400px; overflow:hidden; background-color:#2F3A45; }
        #hero-image {width:100%; height:100%; object-fit:cover; position:absolute; top:0; left:0; z-index:1;}
        .hero-image-shadow{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index:2;}
        .contact-form{ background-color:#2F3A45; color:#F0F0F0; }
        #title{font-size:3rem;}
        #subtitle{font-size:2rem;}

        .btn-primary{ background-color: #006a94; border-color:#004a68; }
        .btn-primary:hover { background-color: #004a68; border-color:#00202c; }
        .card-text { font-size: 0.9rem; }

        #app-notes { color:#0F0F0F; background:#929EAA; }
        #app-notes .card { box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.3); }
        #apps-container .card-text { font-size: 0.9rem; }
        #apps-container .card-title { font-size:1.25rem; }
        #apps-container .btn { font-size: 0.9rem; font-weight:700; }

        #leco-features, .why-leco {color:#212529;}
        #leco-features .card-title { font-size: 1.25rem; }
        #leco-features .card-text { font-size: 0.9rem;}
        #leco-features .card:hover {background:#FAFAFA;}

        .scroll-wrap { position:relative; width:100%; padding: 0 40px; max-height: 500px; overflow: hidden; }
        .product-scroll { display: flex; overflow-x: auto; scroll-behavior: smooth; scrollbar-width: none; min-width:calc(100% + 1px); margin:0 -1rem;}
        .product-card { flex: 0 0 auto; margin-right: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align:center; font-size:0.9rem;}
        
        .product-card img { object-fit:cover; width:auto; max-width:100%; height:160px; border-radius:4px; margin:0 auto;}
            img.two-by-two {object-fit:cover; max-width:200px; height:auto; }
            img.three-up { height:160px; }
        .product-card .card-body { text-align:left; margin:0 1rem 1rem;}
        .product-card .card-title { font-size:1.25rem; }
        .product-card .btn { font-size:0.9rem; font-weight:700; }

        .optional img{max-width:100%;}

        .scroll-arrow { position: absolute; top: 50%; transform: translateY(-50%); background-color:rgba(0, 0, 0, 0.5); color:#FFFFFF; border: none; padding:10px; cursor: pointer; z-index: 10; }
        .scroll-arrow.left { left:0; }
        .scroll-arrow.right { right:0; }

        footer { background-color:#2F3A45; color:#F0F0F0; font-size: 0.8rem; letter-spacing: 1px;}
        .footer-links a { color: #F0F0F0; }
        .footer-links a:hover { color: #A8A8A8;}
        .legal { font-size: 0.9em; }

        #codedCampaignForm label{margin-bottom:0.2rem; font-size:0.9em; font-weight:700;letter-spacing:1px;color:#EDEDBB;}
        #codedCampaignForm input{color:#2B2b2B; background:#FFFFFF; font-weight:700;}
        #codedCampaignForm ::placeholder{ color:#757575; font-weight:400; }
        #codedCampaignForm .form-check-input {height:1.45em; background:inherit;}
        #codedCampaignForm .form-check-input:checked {background-color:#758592;}
        #codedCampaignForm .form-check-input:checked::after {content: '\2714'; color: #000000; position:relative; left:-5px;}
        #codedCampaignForm .form-check-label {display:inline-block;position:relative;top:-1.5em;color:#FFFFFF; font-weight:400;letter-spacing: 0;}
        #codedCampaignForm textarea{margin-top:0;}
        #codedCampaignForm .required::after {content: "*"; color: #00E4F5; margin-left: 0.25em;}

        #codedModalForm label{ font-size:0.9em; margin-bottom:0; font-weight:700; letter-spacing:1px; color:#9D5825;}
        #codedModalForm .form-check-input {height:1.45em; background:inherit; font-weight:700;}
        #codedModalForm ::placeholder{color:#757575;font-weight:400;}
        #codedModalForm .form-check-label {display:inline-block;position:relative;top:-1.5em; font-weight:400;letter-spacing: 0;}
        #codedModalForm .required {color: #377686; margin-left: 0.25em;}


        .float{ position:fixed; padding:1em 2em; bottom:0px; right:40px; background-color:#E6C700; color:#010057; text-decoration:none; border-radius:12px 12px 0px 0px; text-align:center; font-weight:700; box-shadow:2px 2px 3px #999; /*animation: topbounce 0.9s ease-in-out infinite alternate;*/}
        .float:hover{background-color:#ebd233; color:#000000;}

        @keyframes topbounce {
            0% {transform: translateY(0);}
            100% {transform: translateY(-15px);}
        }

        /* medium-width */
        @media (min-width: 768px) { 
            #breakit {  -webkit-column-break-before: always; break-before: column; }
         }



   
